<div>
  <br/>
  <h1>Welcome to Pizzeria</h1>
</div>

<div class="row">
<% @products.each do |p| %>

  <div class="col-sm-3 col-lg-3 col-md-3">
    <div class="">
      <p class="text-center"><b><%= p.title %></b></p>
    </div>

    <div class="">
      <img src="<%= p.path_to_image %>" class="img-thumbnail">
    </div>

    <div class="">
      <p>Description: <%= p.description %></p>
    </div>

    <div class="">
      <p>Size: <%= p.size %> sm.</p>
    </div>

    <div class="">
      <p>Price: <%= p.price %> rub.</p>
    </div>

    <div>

      <button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
    </div>
  </div>

<% end %>
</div>
<button class="btn btn-primary" onclick="something()">Click me!</button>

<script type="text/javascript">

  $(function() {

    update_orders_input();
    update_orders_button();

  });

</script>
